@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-chemistry-primary text-slate-100 font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-chemistry-secondary;
}
::-webkit-scrollbar-thumb {
  @apply bg-chemistry-accent/50 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-chemistry-accent;
}
